[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
appdirs = "==1.4.4"
matplotlib = ">=3.8.0"
nose = "==1.3.7"
numpy = ">=1.26.0,<2.0.0"
pandas = ">=2.1.0"
scikit-learn = ">=1.3.0"
scipy = ">=1.11.0"
scikit-image = "*"
seaborn = ">=0.13.0"
statsmodels = ">=0.14.0"
Pillow = ">=10.0.0"
PyYAML = ">=6.0.1"
SimpleITK = ">=2.3.0"
filelock = "*"
ipython = "*"
psutil = "*"
logzero = "*"
pyradiomics = "*"
fire = "*"
strictyaml = "*"
addict = "*"
jupyter = "*"
toml = "*"
pynrrd = "*"
umap = "*"
natsort ="*"

[requires]
python_version = "3.12"

